<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCjZNZolQfPy-CeZUf-z_jlRU7TlZfQY4A</string>
	<key>GCM_SENDER_ID</key>
	<string>1040338893579</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.birkerenn.askidaMarket</string>
	<key>PROJECT_ID</key>
	<string>market-auth-2bc5e</string>
	<key>STORAGE_BUCKET</key>
	<string>market-auth-2bc5e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1040338893579:ios:a32e6014b9bea1856c400e</string>
</dict>
</plist>